<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- Register Alias
	<typeAliases>
		<typeAlias alias="user" type="com.nicchagil.mybatisonly.bean.User" />
	</typeAliases>
	 -->

	<!-- Register Mapper -->
	<mappers>
		<!-- SQL Mapper 
		<mapper resource="com/crab/entity/*.xml" />-->												
		<mapper resource="com/crab/entity/UserMapper.xml"/>
		<mapper resource="com/crab/entity/RoleMapper.xml"/>
		<mapper resource="com/crab/entity/ResourceMapper.xml"/>
	</mappers>

</configuration>
